* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: indigo;
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    padding-top: 4%;
}
table
{
    margin: auto;
    padding-top: 3%;
}

.limite{
    border-style:ridge;
    border-width: 3px;  
    border-color: rgba(247, 247, 116, 0.822) ;
}

.reponse{
    border-style:ridge;
    border-width: 10%;   
}

td{
    border-collapse: collapse;
    border: 2px solid greenyellow;
    
}

.valider{
    border: 2px solid rgb(97, 25, 126);
}
#container{
    text-align: center;
}
body{
    background-color:rgb(233, 176, 233);
}